<div class="container">
  <h1>Custom modals</h1>

  <p>
    Have any component be rendered in a modal-style pop-up.
  </p>
  <p>
    You can use Bootstrap's modal layout, like in <code>example.modal.html</code> below, or use your own component.<br />
    Say for instance a file-browser, or another website, if you so please.
  </p>

  <div class="card">
    <div class="card-header">
      <h4>Try it out!</h4>
    </div>
    <div class="card-body">
      <div class="d-flex mb-3">
        <button class="btn btn-primary mr-4" (click)="onOpenCustomModal()">Open custom modal...</button>
        <ul class="list-unstyled">
          <li>Resolved status: <span class="font-weight-bold">{{modalResolve$ | async}}</span></li>
          <li>Dismissed status: <span class="font-weight-bold">{{modalDismiss$ | async}}</span></li>
          <li>Completed status: <span class="font-weight-bold">{{modalComplete$ | async}}</span></li>
        </ul>
      </div>

      <app-example-code [examples]="examples"></app-example-code>
    </div>
  </div>
</div>
