<div class="container">
  <h1>Confirm Modals</h1>

  <p>
    A predefined modal for simple yes/no questions.<br />
    For instance whether a use is sure to perform a delete action or to warn the user about destructive changes.
  </p>

  <div class="card">
    <div class="card-header">
      <h4>Try it out!</h4>
    </div>
    <div class="card-body">
      <div class="d-flex mb-3">
        <button class="btn btn-primary mr-4" (click)="onOpenConfirmModal()">Open confirm modal...</button>
        <ul class="list-unstyled">
          <li>Resolved status: <span class="font-weight-bold">{{modalResolve$ | async}}</span></li>
          <li>Dismissed status: <span class="font-weight-bold">{{modalDismiss$ | async}}</span></li>
          <li>Completed status: <span class="font-weight-bold">{{modalComplete$ | async}}</span></li>
        </ul>
      </div>

      <app-example-code [examples]="examples"></app-example-code>
    </div>
  </div>
</div>
