<div class="container">
  <div class="card">
    <div class="card-header">
      <h4>Blocking shade</h4>
    </div>
    <div class="card-body">
      <div class="alert alert-warning">
        The blocking shade is not yet available. It will be added in a future release!
      </div>

      <div class="mb-3">
        <button class="btn btn-primary mr-4" (click)="onBlockingShade()">Default blocking shade with message</button>
        <button class="btn btn-primary mr-4" (click)="onShadeWithIndeterminateProgress()">Shade with indeterminate progress</button>
        <button class="btn btn-primary mr-4" (click)="onShadeWithProgress()">Shade with incrementing progress</button>
      </div>

      <app-example-code [examples]="examples"></app-example-code>
    </div>
  </div>
</div>
